{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="/home" class="logo">
<img src="{% static 'assets/img/logo.png' %}" alt="Logo">
</a>
<a href="/home" class="logo logo-small">
<img src="{% static 'assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
</a>
<a href="javascript:void(0);" id="toggle_btn">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>
</div>




<div class="top-nav-search">
<form method="post" action="">
<input type="text" class="form-control" placeholder="">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>


<a class="mobile_btn" id="mobile_btn">
<i class="fas fa-bars"></i>
</a>


<ul class="nav user-menu">
<li class="nav-item dropdown">
<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<span class="user-img">
<img src="{% static 'assets/img/profile.jpg' %}" alt="">
<span class="status online"></span>
</span>
<span>Kavin Hansen</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="profile.html"><i data-feather="user" class="mr-1"></i> Profile</a>
<a class="dropdown-item" href="settings.html"><i data-feather="settings" class="mr-1"></i> Settings</a>
<a class="dropdown-item" href="login.html"><i data-feather="log-out" class="mr-1"></i> Logout</a>
</div>
</li>

</ul>
<div class="dropdown mobile-user-menu show">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-right ">
<a class="dropdown-item" href="profile.html">My Profile</a>
<a class="dropdown-item" href="settings.html">Settings</a>
<a class="dropdown-item" href="login.html">Logout</a>
</div>
</div>

</div>


<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div class="sidebar-contents">
<div id="sidebar-menu" class="sidebar-menu">
<div class="mobile-show">
<div class="offcanvas-menu">
<div class="user-info align-center bg-theme text-center">
<span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
<a href="javascript:void(0)" class="d-block menu-style text-white">
<div class="user-avatar d-inline-block mr-3">
<img src="{% static 'assets/img/profiles/avatar-18.jpg' %}" alt="user avatar" class="rounded-circle" width="50">
</div>
</a>
</div>
</div>
<div class="sidebar-input">
<div class="top-nav-search">
<form method="post" action="">
<input type="text" class="form-control" placeholder="Search here">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
</div>
<ul>
<li>
<a href="/home"><img src="{% static 'assets/img/home.svg' %}" alt="sidebar_img"> <span>Dashboard</span></a>
</li>
<li class="active">
<a href="/employee"><img src="{% static 'assets/img/employee.svg' %}" alt="sidebar_img"><span> Employees</span></a>
</li>
<li>
<a href="inventory.html"><img src="{% static 'assets/img/company.svg' %}" alt="sidebar_img"> <span> Inventory</span></a>
</li>
<!--<li>-->
<!--<a href="calendar.html"><img src="assets/img/calendar.svg" alt="sidebar_img"> <span>Calendar</span></a>-->
<!--</li>-->
<li>
<a href="leave.html"><img src="{% static 'assets/img/leave.svg' %}" alt="sidebar_img"> <span>Leave</span></a>
</li>
<!--<li>-->
<!--<a href="review.html"><img src="assets/img/review.svg" alt="sidebar_img"><span>Review</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="report.html"><img src="assets/img/report.svg" alt="sidebar_img"><span>Report</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="manage.html"><img src="assets/img/manage.svg" alt="sidebar_img"> <span>Manage</span></a>-->
<!--</li>-->
<li>
<a href="settings.html"><img src="{% static 'assets/img/settings.svg' %}" alt="sidebar_img"><span>Settings</span></a>
</li>
<li>
<a href="profile.html"><img src="{% static 'assets/img/profile.svg' %}" alt="sidebar_img"> <span>Profile</span></a>
</li>
</ul>
<ul class="logout">
<li>
<a href="profile.html"><img src="{% static 'assets/img/logout.svg' %}" alt="sidebar_img"><span>Log out</span></a>
</li>
</ul>
</div>
</div>
</div>
</div>


<div class="page-wrapper">
<div class="content container-fluid">
       <form method="post" action="">
              {% csrf_token %}
     {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p  style="color:red" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
<div class="col-xl-12 col-sm-12 col-12 ">
<div class="breadcrumb-path mb-4">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="/home">Home</a>
</li>
<li class="breadcrumb-item active"> Inventory</li>
</ul>
<h3>Create Inventory</h3>
</div>
</div>

<div class="col-xl-12 col-sm-12 col-12 ">
<div class="card">
<div class="card-header">
<h2 class="card-titles">Basic Details <span>Organized and secure.</span></h2>
</div>
<div class="card-body">
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<input type="text" placeholder="First Name" value="{{employee.first_name}}">
</div>
</div>
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<input type="text" placeholder="Last Name" value="{{employee.last_name}}">
</div>
</div>
</div>
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<input type="text" placeholder="Email" value="{{employee.email}}">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-12 col-sm-12 col-12 ">
<div class="card ">
<div class="card-header">
<h2 class="card-titles">Inventory Details<span>Let everyone know the essentials so they're fully prepared.</span></h2>
</div>
<div class="card-body">
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<input type="text" placeholder="Title" name="title">
</div>
 </div>
</div>
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<!--<input type="text" placeholder="Item">-->
<label for="item" class="form-control-label">Select Item:</label>
<select id="item" name="item" multiple>
  <option value="Laptop">Laptop</option>
  <option value="Mobile">Mobile</option>
</select>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<!--<input type="text" placeholder="Laptop">-->
<label for="is_laptop" class="form-control-label">Select Laptop:</label>
<select id="laptop" name="is_laptop">
  <option value="Windows">Windows</option>
  <option value="Mac">Mac</option>
</select>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<!--<input type="text" placeholder="Mobile">-->
<label for="mobile" class="form-control-label">Select Mobile:</label>
<select id="mobile" name="is_mobile">
  <option value="Android">Android</option>
  <option value="IPhone">IPhone</option>
</select>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-6 col-sm-12 col-12 ">
<div class="form-group">
<input type="text" placeholder="Remarks" name="remarks">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-12 col-sm-12 col-12 ">
<div class="form-btn">
    <button class="btn btn-apply w-auto" type="submit">Add Inventory</button>
<!--<a class="btn btn-apply w-auto">Add Inventory</a>-->
<!--<a href="#" class="btn btn-secondary">Cancel</a>-->
</div>
</div>
</div>
</div>
       </form>
</div>
</div>
</div>

</div>


    {% endblock %}