{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
      <ul class="messages">
          {% for message in messages %}
          {% if message.tags == 'success' %}
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="{% static 'assets/js/jquery.toast.js' %}"></script>
            <script>
               var myToast =$.toast({
                  heading: 'Success',
                  text: '{{message}}',
                  showHideTransition: 'slide',
                  icon: 'success',
                  position:'top-right'
               })
            </script>
          {% endif %}
          {% endfor %}
      </ul>
      {% endif %}
<div class="page-wrapper">
<div class="content container-fluid">
<div class="row">
<div class="col-xl-12 col-sm-12 col-12 mb-4">
   <div class="breadcrumb-path ">
      <ul class="breadcrumb">
         <li class="breadcrumb-item"><a href="/home"><img src="{% static 'assets/img/dash.png' %}" class="mr-2" alt="breadcrumb" />Home</a></li>
         <li class="breadcrumb-item active"> Employees</li>
      </ul>
   </div>
</div>
<div class="col-xl-12 col-sm-12 col-12 mb-4">
   <div class="head-link-set">
      <ul>
         <li><a href="/employee">All</a></li>
         <li><a class="active" href="#">Departments</a></li>
         <!--<li><a href="employee-office.html">Offices</a></li>-->
      </ul>
      <a class="btn-add" data-toggle="modal" data-target="#addteam"><i data-feather="plus"></i> Add Department</a>
   </div>
</div>
<div class="col-xl-12 col-sm-12 col-12 ">
<div class="card m-0">
<div class="card-body pb-0">
   <div class="row">

      {% for key, value in result.items %}

      <div class="col-xl-4">
         <div class="card">
            <div class="card-header">
               <div class="employee-head">
                  <h2>{{key}}</h2>
                  {% for id, image in value.items %}
                  <ul>
                     <li><a href="{% url 'update_department' id %}" id="{{id}}" class="edit_employee" data-toggle="modal" data-target="#edit"><i data-feather="edit"></i></a></li>
                     <li><a href="{% url 'delete_department' id %}"><i data-feather="trash-2"></i></a></li>
                  </ul>

               </div>
            </div>
            <div class="card-body">
               <div class="employee-content">
                  <div class="employee-image">
                     <div class="avatar-group">

                         {% for link in image|slice:"3"%}
                        <div class="avatar avatar-xs group_img group_header">
                           <img class="avatar-img rounded-circle" alt="User Image" src="{{link}}">
                        </div>
                         {% endfor %}
                        {%if image|length >= 3%}
                        <p>+ {{image|length|add:"-3" }} more  </p>
                        {% endif %}
                        {%endfor%}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {%endfor%}
   </div>
   <div class="customize_popup">
      <div class="modal fade" id="addteam" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabela">Create New Department</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form method="post" action="">
                     {% csrf_token %}
                     <div class=" col-md-12 p-0">
                        <div class=" form-popup m-0">
                           <input type="text" placeholder="Name" name="department_name" value="{{depp}}">{{depp}}
                        </div>
                     </div>
               </div>
               <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Add</button>
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="customize_popup">
      <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="staticBackdropLa" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLa">Edit Department</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form method="post" action="">
                     {% csrf_token %}
                     <div class=" col-md-12 p-0">
                        <div class=" form-popup m-0">
                           <input type="text" id="dep_name" placeholder="Name" name="department_name" value="">

                        </div>
                     </div>

               </div>
               <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               </div>
            </div>
              </form>
         </div>
      </div>
   </div>

</div>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

   <script type="text/javascript">

$(document).ready(function(){
    $(".edit_employee").click(function(event){
      var value = this.id;
      var url = "update_department/" + value
         $.ajax({
            type: "GET",
            data: { id: value },
            url:url,
            success: (data) => {
                console.log(data);
                 $("input:text").val(data);
              },
              error: (error) => {
                console.log(error);
              }
        });
    });
});

$(document).ready(function(){
    $(".edit_employee").click(function(event){
      var emp_id = this.id;
      $('input[name=department_name]').change(function() {
      var name = $(this).val()
      url = "update_department/" + emp_id
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
$.ajax({
            type: "POST",
            data: { emp_id: emp_id , name:name},
            url:url,
            beforeSend: function (xhr){
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            success: (data) => {
                console.log(data);
            console.log(data)
              },
              error: (error) => {
                console.log(error);
              }
        });
 });
 });
 });
   </script>
{% endblock %}